{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>나의 새로운 일지 쓰기</title>
</head>
<body>
    <p>새로운 식물 일지를 작성해주세요</p>

    <form action="{% url 'write' %}" method="POST" enctype="multipart/form-data">
    {% csrf_token %}

        <label for="inputFile">당신의 반려식물 사진을 공유해주세요!</label>
        <input type="file" id="inputFile" name="image" required>

        <label for="inputTitle">간단한 제목을 적어주세요.</label>
        <input type="text" id="inputTitle" name="title">

        <label for="inputDescription">식물에 대한 일지를 적어주세요.</label>
        <textarea id="inputDescription" name="description" required></textarea>

        <button type="submit">일지 등록하기</button>

    </form>

</body>
</html>